$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/reset-css/_reset.scss";
// endbower

@import './base/fontello';
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-family: "Helvetica Neue", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/categories';
@import 'blocks/jeans';
@import 'blocks/footer';
@import 'blocks/header-submenu';



